body{
  background:#d2d2c1 url(img/fundo.png);
  font: 16px 'Arial' ,'Helvetica' , sans-serif; 
}
.barraDeNavegacao{
  font: 1em 'Arial' ,'Helvetica' , sans-serif ;
  padding: 13px;
  background-color: #EBEBD8;
  border: solid red 1px;
}
.texto{
  font-family: 'Arial' ,'Helvetica' , sans-serif ;
  font-weight: 300;
  background-color: #DBDBCA;


}
.fotoHome{
  width: 300px;
  height: 400px;
}

.principal{
  border: 1px red solid;
  width: 900px;
}
.fotosBiblio{
  width: 600px;
  height: 380px;
  border: solid red 1px; 
}