body{
  background:#d2d2c1 url(img/fundo.png);
  font: 15px 'Arial' ,'Helvetica' , sans-serif; 
  width: 900px;
}
#rodape{
  text-align: center;
}
.principal{
  width: 900px;
  background-color: #DBDBCA;
}
.barraDeNavegacao{
  font: 1em 'Arial' ,'Helvetica' , sans-serif ;
  padding: 15px;
  background-color: #EBEBD8;
}
a {
  color: #0f0f01;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}

.texto{
  font-family: 'Arial' ,'Helvetica' , sans-serif ;
  font-weight: 300;
  background-color: #DBDBCA;
  padding: 10px;
}

.fotoHome{
  width: 300px;
  height: 400px;
}

.principal{
  width: 900px;
}

.fotosBiblio{
  border: #737366 solid 16px;
}

.h1 {
  color: #828271;
  font-size: 1.2em;
}
.contato{
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
}